@import "/styles/media";

.header {
  position: sticky;
  top: 0;
  box-shadow: 0 4px 16px rgb(0 0 0 / 25%);
  background-color: #fff;
  z-index: 1;

  &Inner {
    @include media-992 {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    @include media-450 {
      justify-content: space-between;
    }
  }
}

.logoLink {
  padding: 0 20px;
  margin: 0 -20px;
  line-height: 0;
  position: absolute;

  @include media-992 {
    position: static;
  }
}

.logo {
  width: auto;
  height: 52px;
  margin: 5px 0;

  @include media-992 {
    height: 48px;
  }

  @include media-768 {
    height: 45px;
  }

  @include media-576 {
    height: 43px;
    margin: 4.7px 0;
  }

  @include media-450 {
    margin: 5px 0;
  }
}

.nav {
  display: flex;
  justify-content: center;
  gap: 270px;
  flex: 1;

  @include media-992 {
    gap: 180px;
  }

  @include media-768 {
    gap: 100px;
  }

  @include media-576 {
    justify-content: space-around;
    gap: unset;
  }

  @include media-450 {
    display: none;
  }
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  padding: 20px 5px;

  @include media-992 {
    font-size: 19px;
    padding: 18px 5px;
  }

  @include media-768 {
    font-size: 18px;
    padding: 17px 5px;
  }

  @include media-576 {
    font-size: 16px;
  }
}
