@import "/styles/grid";

.section {
  padding-bottom: 70px;
}

.content {
  @include col(8);

  margin: 0 auto;
}

.sendMail {
  width: 400px;
  margin: 0 auto;
}

.submitButton {
  margin: 0 auto;
  display: block;
}
