@import "/styles/media";

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 18px;
  align-items: center;
  gap: 24px;
  margin: 16px 0;

  @include media-1200 {
    font-size: 17px;
  }

  @include media-768 {
    font-size: 16px;
    gap: 20px;
  }
}

.label {
  text-align: right;
}

.input {
  margin: 0;
  padding: 10px 12px;
  border-radius: 8px;
  border: 2px solid #005f82;
  outline: none;
  transition: 0.3s ease-in-out;

  @include media-1200 {
    padding: 8px 10px;
  }

  &:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }

  &WithError {
    border-color: #d22121;
    box-shadow: 0 0 7px 1px #f53737;
  }
}
