.button {
  padding: 20px 26px;
  text-align: center;
  border-radius: 24px;
  font-size: 22px;
  font-weight: 500;
  transition: ease-in 0.15s;
  cursor: pointer;
  border-width: 4px;
  border-style: solid;
}

.blue {
  border-color: #005f82;
}

.pink {
  border-color: #f2297b;
}

.outline {
  background-color: transparent;

  &.blue {
    color: #005f82;

    &:hover {
      background-color: #005f82;
      color: #fff;
    }
  }

  &.pink {
    color: #f2297b;

    &:hover {
      background-color: #f2297b;
      color: #fff;
    }
  }
}

.fill {
  &.blue {
    background-color: #005f82;
    color: #fff;

    &:hover {
      color: #005f82;
      background-color: #fff;
    }
  }

  &.pink {
    background-color: #f2297b;
    color: #fff;

    &:hover {
      color: #f2297b;
      background-color: #fff;
    }
  }
}
