@import "/styles/grid";

.section {
  margin-bottom: 60px;
}

.content {
  @include col(11);

  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 65px;
  margin: 55px 0 35px;
}

.wrongPhotosButton {
  width: 280px;
  margin: 0 auto;
  display: block;
}
