.footer {
  text-align: center;
  border-top: 1px solid #005f82;
  padding: 28px 0 27px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 18px;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto;

  img {
    width: 60px;
    height: auto;
  }
}
