.card {
  border: 8px solid #005f82;
  text-align: center;
  font-weight: 700;
  margin: 50px 0;
}

.number {
  margin: 28px 20px 22px;
  font-size: 33px;
  color: #005f82;
}

.question {
  padding: 67px 0;
  color: #005f82;
  font-size: 37px;
  border-top: 3px solid #005f82;
  border-bottom: 3px solid #005f82;
  box-shadow: 0 4px 4px rgb(0 0 0 / 40%);
}

.control {
  padding: 55px 0;
  display: flex;
  justify-content: space-around;
}
