.section {
  background-color: #005f82;
  color: #fff;
  padding: 90px 0 85px;
  text-align: center;
}

.title {
  font-size: 45px;
  font-weight: 700;
  max-width: 900px;
  margin: 0 auto 65px;
}

.subtitle {
  font-size: 23px;
  font-weight: 300;
  opacity: 0.92;
  max-width: 900px;
  margin: 0 auto;
}
