.section {
  background-color: #005f82;
  color: #fff;
  padding: 82px 0 61px;
  text-align: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  max-width: 1050px;
  margin: 0 auto 55px;
}

.subtitle {
  font-size: 29px;
  font-weight: 300;
  opacity: 0.92;
}
