.content {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.text {
  font-size: 23px;
  color: #005f82;
  margin-top: 10px;

  ul {
    padding-left: 30px;
  }
}

.photos {
  line-height: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 17px 12px;
}
