@import "/styles/media";
@import "/styles/grid";

.section {
  padding: 5px 0 40px;
}

.content {
  @include col(11);

  margin: 0 auto;

  @include media-1200 {
    @include col(12);
  }

  @include media-768 {
    @include col(10);
  }

  @include media-576 {
    @include col(11);
  }

  @include media-450 {
    @include col(12);
  }
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 32px;

  @include media-1200 {
    font-size: 30px;
  }

  @include media-992 {
    font-size: 26px;
  }

  @include media-768 {
    font-size: 23px;
  }

  @include media-576 {
    font-size: 21px;
  }
}

.compatibility {
  display: flex;
  font-size: 26px;
  font-weight: 700;
  align-items: center;
  gap: 60px;
  justify-content: center;
  margin-bottom: 14px;

  @include media-1200 {
    gap: 45px;
  }

  @include media-992 {
    font-size: 22px;
    gap: 40px;
    margin-bottom: 11px;
  }

  @include media-768 {
    font-size: 20px;
    gap: 30px;
    margin-bottom: 8px;
  }

  @include media-576 {
    font-size: 18px;
    gap: 20px;
  }

  &Label {
    color: #f2297b;
    width: 320px;

    @include media-992 {
      width: 270px;
    }

    @include media-768 {
      width: 240px;
    }

    @include media-576 {
      width: 215px;
    }
  }

  &Dash {
    color: #f2297b;
  }

  &Percent {
    color: #005f82;
    padding: 9px 10px;
    border: 2px solid #f2297b;
    border-radius: 15px;
    width: 80px;
    text-align: center;

    @include media-992 {
      width: 68px;
      border-radius: 12px;
    }

    @include media-768 {
      padding: 7px 8px;
      border-radius: 12px;
      width: 60px;
    }

    @include media-576 {
      width: 54px;
    }
  }
}

.characters {
  display: flex;
  align-items: center;
  margin: 40px 0 38px;
  gap: 40px;

  @include media-992 {
    gap: 30px;
    margin: 35px 0 32px;
  }

  @include media-768 {
    flex-direction: column;
    align-items: unset;
    gap: 20px;
    margin: 30px 0;
  }
}

.card {
  padding: 29px 60px 70px;
  flex: 1;
  border-radius: 30px;

  @include media-1200 {
    padding: 24px 35px 40px;
    border-radius: 28px;
  }

  @include media-992 {
    padding: 24px 25px 30px;
  }

  @include media-768 {
    border-radius: 24px;
  }

  @include media-576 {
    padding: 20px 20px 30px;
  }

  &Title {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-bottom: 39px;

    @include media-1200 {
      margin-bottom: 30px;
    }

    @include media-992 {
      font-size: 20px;
    }

    @include media-576 {
      margin-bottom: 18px;
    }
  }

  &Body {
    font-size: 22px;
    font-weight: 500;

    @include media-992 {
      font-size: 19px;
    }

    @include media-768 {
      font-size: 18px;
    }

    @include media-576 {
      font-size: 17px;
    }

    div {
      margin-bottom: 16px;

      @include media-992 {
        margin-bottom: 12px;
      }
    }
  }

  &Man {
    background-color: #c8e4ff;
    border: 1px solid #154bd5;

    .cardBody {
      color: #e22671;
    }
  }

  &Women {
    background-color: #ffd3e5;
    border: 1px solid #d61cb8;

    .cardBody {
      color: #005f82;
    }
  }

  &HandsImg {
    height: auto;

    @include media-1200 {
      width: 90px;
    }

    @include media-992 {
      display: none;
    }
  }
}

.copy {
  &Button {
    text-align: center;
    font-size: 19px;
    padding: 12px 15px;
    border-radius: 20px;
    font-weight: 500;
    margin: 0 auto 14px;
    display: flex;
    align-items: center;
    gap: 15px;

    @include media-1200 {
      font-size: 18px;
      padding: 10px 13px;
      border-radius: 18px;
    }

    @include media-992 {
      font-size: 17px;
      padding: 8px 11px;
      border-radius: 16px;
    }

    @include media-768 {
      font-size: 16px;
      padding: 7px 10px;
    }

    @include media-576 {
      font-size: 15px;
      gap: 10px;
      padding: 6px 10px;
      border-radius: 14px;
    }

    svg {
      @include media-1200 {
        width: 28px;
      }

      @include media-992 {
        width: 26px;
      }

      @include media-768 {
        width: 24px;
      }

      @include media-576 {
        width: 22px;
      }

      path {
        transition: 0.2s;
      }
    }

    &:hover {
      svg path {
        stroke: #005f82;
      }
    }
  }

  &Explanation {
    width: 370px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto 40px;
    color: #4a4a4a;

    @include media-992 {
      font-size: 13px;
      width: 340px;
      margin-bottom: 35px;
    }

    @include media-576 {
      font-size: 12px;
      width: 300px;
      margin-bottom: 30px;
    }
  }
}

.goMain {
  &Link {
    text-decoration: none;
  }

  &Button {
    margin: 0 auto;
    display: block;
  }
}
